<div class="container app">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">
        Sistema de Quejas
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img width="300" src="https://i.ya-webdesign.com/images/banco-de-imagenes-png-1.png" />
    </div>
    <div class="col-sm-8">
      <h2>Creacion de Puntos de Atencion:</h2>
      <form class="form-horizontal">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit"></form><form [formGroup]="userForm" (ngSubmit)="onSubmit">
          <div class="form-group">
            <label for="email" class="control-label col-sm-12">
              Ingrese el nombre del punto de atención
            </label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="region">
                <option *ngFor="let regiones of listaRegiones" [value]="regiones.codigodato">
                  {{regiones.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-12">
              Ingrese el nombre del punto de atención
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name"
              name="name" formControlName="nombre"
              placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-2">
              Estado
            </label>
            <div class="col-sm-10">

              <select class="form-control" formControlName="estado">
                <option *ngFor="let estados of listaEstados" [value]="estados.codigodato">
                  {{estados.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="registrar()">
                Guardar
              </button>
            </div>
          </div>
        </form>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <h2>Información ingresada: </h2>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>id</th>
            <th>Región</th>
            <th>Nombre de punto de atención</th>
            <th>Estados</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">
            <td>{{employee.id}}</td>
            <td>{{employee.region}}</td>
            <td>{{employee.nombre}}</td>
            <td>{{employee.estado}}</td>
            <td>
              <!-- <div class="col-sm-2">
                <a (click)="editEmployee(i)" class="btn btn-success">
                   Modificar
                </a>
              </div>
              <div class="col-sm-6">
                <a (click)="delete(i)" class="btn btn-danger">
                  Eliminar
                </a>
              </div> -->
              <button style='width:85px; height:35px' (click)="editEmployee(i)" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Editar</button>
              <br>
               <button style='width:85px; height:35px' (click)="delete(i)"  type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" >Eliminar</button>

            </td>
          </tr>

        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual= $event"></pagination-controls>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate">
      <h2>Actualizar Data:</h2>
      <form class="form-horizontal">
        <form [formGroup]="userFormUpdate" (ngSubmit)="onSubmit"></form><form [formGroup]="userForm" (ngSubmit)="onSubmit">
          <div class="form-group">

            <label for="email" class="control-label col-sm-12">
              Ingrese la region
            </label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="region" [(ngModel)]="model2.name" disabled>
                <option *ngFor="let regiones of listaRegiones" [value]="model2.name">
                  {{regiones.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-12">
              Ingrese el nombre del punto de atención
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name"
              name="name" [(ngModel)]="model2.position"
              name="name"  formControlName="nombre"
              placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-2">
              Estado
            </label>
            <div class="col-sm-10">

              <select class="form-control" formControlName="estado"  [(ngModel)]="model2.email">
                <option *ngFor="let estados of listaEstados"  [value]="estados.codigodato">
                  {{estados.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="update()">
                Guardar
              </button>
            </div>
          </div>
        </form>
      <!--   <div class="form-group">
          <label for="name" class="control-label col-sm-2">
            Region

            | paginate: {itemsPerPage: 5, currentPage: pageActual}

          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name"
              name="name" [(ngModel)]="model2.name"
              placeholder="Nombre para la Region"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="control-label col-sm-2">
            Atención
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name"
              name="position" [(ngModel)]="model2.position"
              placeholder="Punto de Atención"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label col-sm-2">
            Estado
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email"
              name="email" [(ngModel)]="model2.email"
              placeholder="Estado"
            >
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success" (click)="updateEmployee()">
              Guardar
            </button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
