<style type="text/css">
  a:link
  {
  text-decoration:none;
  }
  button{
border-radius:10px;
outline:none;
}

  </style>

<div class="container app">
<div class="row">
  <div class="col-sm-12">
    <h1>Bienvenido al Menu "Banco Mi Pistio"</h1>
  </div>
</div>
  <div class="row">
    <div class="table-responsive">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <div class="row">
          <tr>
                <td>

                    <div class="w-100 p-4" style="background-color: #eee;">

                      <a routerLink="/admin-tipos-quejas" data-toggle="modal" data-target="#captchaModel" data-whatever="@getbootstrap">
                        <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <img width="200" src="https://image.flaticon.com/icons/svg/1484/1484601.svg" />
                            <h3 class="text-center">Administracion de tipos de quejas</h3>
                          </div>
                        </div>
                      </a>

                  </div>

                </td>


                <td>
                  <div class="w-100 p-4" style="background-color: #eee;">
                    <a routerLink="/admin-puntos-atencion">
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <img width="200" src="https://i.ya-webdesign.com/images/banco-de-imagenes-png-1.png" />
                          <h3 class="text-center">Administracion de puntos de atención</h3>
                        </div>
                      </div>
                    </a>
                </div>
              </td>

              <td>
                <div class="w-100 p-4" style="background-color: #eee;">
                  <a routerLink="/usuarios-puntos-atencion">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        <img width="200" src="https://lh3.googleusercontent.com/qUeDVvNB_lINqCXBpaU-YNrjig-1pHfTnmOM-_REnMtomDaHpvBabYddLPr3X5xnww" />
                        <h3 class="text-center">Administracion de usuarios de puntos de atención</h3>
                      </div>
                    </div>
                  </a>
              </div>
            </td>
          </tr>
        </div>

        <div class="row">
          <tr>
                <td>
                  <button class="btn btn-link" type="button" data-toggle="modal" data-target="#captchaModel" data-whatever="@getbootstrap"
                  type="submit">
                    <div class="w-100 p-4" style="background-color: #eee;">
                      <a routerLink="/ingreso-queja-contribuyente">
                        <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <img width="200" src="https://portal.sat.gob.gt/portal/wp-content/uploads/2019/12/ConsultaEstadoDeQuejasV2.png" />
                            <h3 class="text-center">Ingreso queja contribuyente</h3>
                          </div>
                        </div>
                      </a>
                  </div>
                  </button>
                </td>

                <td>
                  <div class="w-100 p-4" style="background-color: #eee;">
                    <a routerLink="/ingreso-queja-usuario">
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <img width="200" src="https://image.flaticon.com/icons/svg/1997/1997323.svg" />
                          <h3 class="text-center">Ingreso queja usuario</h3>
                        </div>
                      </div>
                    </a>
                </div>
              </td>

              <td>
                <div class="w-100 p-4" style="background-color: #eee;">
                  <a routerLink="/asignacion-queja-mal-servicio">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        <img width="173" src="https://image.flaticon.com/icons/svg/1484/1484573.svg" />
                        <h3 class="text-center">Quejas ingresadas por mal servicio</h3>
                      </div>
                    </div>
                  </a>
              </div>
            </td>
          </tr>
        </div>

        <div class="row">
          <tr>
                <td>
                    <div class="w-100 p-4" style="background-color: #eee;">
                      <a routerLink="/seguimiento-centralizador">
                        <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <img width="200" src="https://www.sri.gob.ec/documents/3923514/4099956/buzon-gen1.png/23fd9b5c-1d20-49c1-aaf8-c983dca1aad7?t=1558388685120" />
                            <h3 class="text-center">Quejas por mal servicio en proceso de atención</h3>
                          </div>
                        </div>
                      </a>
                  </div>
                </td>

                <td>
                  <div class="w-100 p-4" style="background-color: #eee;">
                    <a routerLink="/seguimiento-puntos-atencion">
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <img width="200" src="https://lh3.googleusercontent.com/proxy/h6RCW0yV5xnliqmLwfi6_TwwlH-BXJxA4pGgs0B1nvilQi5TuJgGwhK16H7LvAVvRUYRendNf0ni1amLU3vxN-TAAJ163_d6VnqSpoeWt88iHh8WJqSDrIVdpDTfnhzKCZ_lQFv2yMoHxhGdCBhLuKA5k8ib0nBQAa93pZre" />
                          <h3 class="text-center">Seguimiento Quejas por mal servicio asignadas</h3>
                        </div>
                      </div>
                    </a>
                </div>
              </td>

              <td>
                <div class="w-100 p-4" style="background-color: #eee;">
                  <a routerLink="/auto-consulta-contribuyente">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        <img width="230" src="https://www.bbva.com.co/content/dam/public-web/global/images/micro-illustrations/comunication.png.img.160.1536771507060.png" />
                        <h3 class="text-center">Consulta Estado de Queja</h3>
                      </div>
                    </div>
                  </a>
              </div>
            </td>
          </tr>
        </div>

        <div class="row">
          <tr>
                <td>
                    <div class="col-7" style="background-color: #eee;">
                      <a routerLink="/reporte-unidad-administrativa">
                        <div class="jumbotron jumbotron-fluid">
                          <div class="container">
                            <img width="200" src="https://pngimage.net/wp-content/uploads/2018/06/reporte-png-.png" />
                            <h3 class="text-center">Reporte de quejas por mal servicio o servicio no conforme</h3>
                          </div>
                        </div>
                      </a>
                  </div>
                </td>


          </tr>
        </div>


        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
  </div>
  </div>




  <div class="row">
    <div class="modal fade" id="captchaModel" tabindex="-5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">

            <div class="modal-body">

                <div class="col-sm-12">
                  <!--
                    the SITE_KEY is the sitekey from your admin console.
                    use form control for validation
                  -->
                  <form [formGroup]="captchaForm">
                  <re-captcha (resolved)="resolved($event)"
                              formControlName="recaptchaReactive2"
                              siteKey="6LfvgPgUAAAAAFJ_XaNB_HvBqQAj0YEz56SiuWWs">
                  </re-captcha>
                </form>
                  <h4>Gracias por usar los servicios de modernización </h4>
                  <h4>Banco Mi Pistio</h4>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>






