
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <mat-card class="example-card">
          <div class="row">
            <div class="col-sm-5">
              <table class="egt">
                <tr>
                  <td> Usuario: {{username.value}}</td>
                </tr>
                <tr>
                  <td> Region: {{region.value}} </td>
                </tr>
                <tr>
                  <td> Punto de Atencion: {{puntoAtencion.value}}</td>
                </tr>
              </table>
              <br>
            </div>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-3" align ="right">
          </div>
        <mat-card-header>
          <div class="col-sm-3"></div>
          <div class="col-sm-6" align ="center">
          <mat-card-title class="mat-cart-tit"><h1>{{ name.value }}</h1></mat-card-title>
          <mat-card-subtitle>Gestion de Usuario por puntos de atencion</mat-card-subtitle>
          </div>
          <div class="col-sm-2"></div>
        </mat-card-header>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <h4>Basic mat-select</h4>

          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>




